# NRI Connection
NRIDriver=com.informix.jdbc.IfxDriver
NRIConn=jdbc:informix-sqli://192.168.18.201:1541:informixserver=beeinf;database=july;DB_LOCALE=ru_RU.1251;CLIENT_LOCALE=ru_RU.1251
NRIUser=dima
NRIPassword=djkr03

# NFS Connection
NFSDriver=oracle.jdbc.OracleDriver
NFSConn=jdbc:oracle:thin:@nfsdb.vimpelcom.ru:1521:VPROD
NFSUser=xxnri
NFSPassword=lei274

# MSACCESS Connection
MSACCESSDriver=sun.jdbc.odbc.JdbcOdbcDriver
MSACCESSConn=jdbc:odbc:DBdelibash
MSACCESSUser=gerasimov
MSACCESSPassword=max13
#blobDirPath=S:\\   conference\\toIldar\\sklad\\

# dBase Connection
dBaseDriver=sun.jdbc.odbc.JdbcOdbcDriver
dBaseConn=jdbc:odbc:DBBelyakov
dBaseUser=gerasimov
dBasePassword=max13

# NRI out info
excelDirPath=S:\\   conference\\toIldar\\sklad
loadWayMapsDirPath=S:\\   conference\\toIldar\\sklad
loadWayMapsDirPath=S:\\   conference\\toIldar\\sklad

# Interbase (FineBiard) Connection
InterbaseDriver=org.firebirdsql.jdbc.FBDriver
InterbaseConn=jdbc:firebirdsql:RADIO-SRV:C:/NRI/NRI-GATE.GDB
InterbaseUser=NRI
InterbasePassword=nri
InterbaseRoleName=NRIWRITE
