<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>CollaborationWEB</display-name>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>application</param-name>
			<param-value>resources.ApplicationResources</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<taglib>
		<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
	</taglib>
	<resource-ref id="ResourceRef_1098702901641">
		<res-ref-name>jdbc/informix</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	<env-entry>
		<description>java:comp/env/jdbc/informix</description>
		<env-entry-name>session/dbdatasource</env-entry-name>
		<env-entry-value>java:comp/env/jdbc/informix</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>param/GenericDAOClass</env-entry-name>
		<env-entry-value>com.hps.july.sync.model.dao.GenericDAO</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<ejb-ref id="EjbRef_1098093691125">
		<ejb-ref-name>ejb/ReferencesFinder</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.hps.july.sync.session.ReferencesFinderHome</home>
		<remote>com.hps.july.sync.session.ReferencesFinder</remote>
		<ejb-link>CollaborationEJB.jar#ReferencesFinder</ejb-link>
	</ejb-ref>
	<ejb-local-ref id="EJBLocalRef_1103287889890">
		<ejb-ref-name>ejb/GenericFinderLocalHome</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local-home>com.hps.july.sync.session.GenericFinderLocalHome</local-home>
		<local>com.hps.july.sync.session.GenericFinderLocal</local>
		<ejb-link>CollaborationEJB.jar#GenericFinder</ejb-link>
	</ejb-local-ref>
</web-app>